<div class="navi">
    {% assign current = page.title %}
    <a href="/english/" class="page-link{% if current == 'Eng posts' %} active{% endif %}">Eng posts</a>
    <a href="/" class="page-link{% if current == 'Vietnamese posts' or current == null %} active{% endif %}">Viet posts</a>
    <a href="/about/" class="page-link{% if current == 'About' %} active{% endif %}">About</a>
    <a href="/now/" class="page-link{% if current == 'Now' %} active{% endif %}">Now</a>
    <a href="/categories/" class="page-link{% if current == 'Categories' %} active{% endif %}">Categories</a>
</div>
