<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    <div class="wrapper">

      {% include header.html %}
      
      {% include navi.html %}

      <div class="content{% if page.url == '/' or page.url == '/index.html' or page.url == '/english/' %} posts-page{% endif %}">
        <div class="articles">
            {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="{{ '/assets/js/theme-switcher.js' | relative_url }}" defer></script>
    </body>
</html>
