<!DOCTYPE html>
<html class="site-page">

  {% include head.html %}

    <body>

    <div class="wrapper">

      {% include header.html %}
      
      {% include navi.html %}

      <div class="content{% if page.url == '/vietnamese/' or page.url == '/english/' %} posts-page{% endif %}">
        <div class="articles">
            {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="{{ '/assets/js/theme-switcher.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
    {% if page.toc %}
    <script src="{{ '/assets/js/toc.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
    {% endif %}
    </body>
</html>
